
.myBody{
    background-color:rgb(40, 37, 40);
    margin: 0;
    background-image: url(../img/header\ facha)
}
.header{
    height: 30vh;
    border-bottom: 5px solid black;
    background-color: mediumvioletred;
    background-image: url(../img/header\ facha.webp);
}

.menuEscondido{
    display: none;
}
.bloqueLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.logo{
    width: 100px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 100px;
}
.hijoHeader{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.bloqueNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
.home{
    padding: 0px 10px;
}
.genero{
    text-align: center;
    background-color: rgb(255, 0, 191);
    border: 3px solid #333;
    box-shadow: 10px 5px 5px rgb(255, 0, 183);
    
}
.mainPadre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.primeraLinea{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.myArticles{
    width: 15%;
    background-color: rgba(204, 211, 78, 0.774);
    text-align: center;
    border: 6px solid #333;
    box-shadow: 10px 5px 5px rgb(255, 0, 204);

}

.texto{
    text-align: center;
}

.myArticles img{
    width: 90%;
    max-height: 10cm;
    height: 100px;
}
.titulo{
    text-align: center;
    color: rgb(232, 42, 42);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid rgb(0, 0, 0);
}
.bloqueNavHijo {
    background-color: #444;
    color: white;
    height: 50px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer{
    background-color: rgba(109, 128, 108, 0.39);
    color: white;
    display: flex;
    justify-content: center;
    border-top-right-radius: 29px;
    border-top-left-radius: 29px;
    color: black;
}
.texto{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;
}

.titulopelis{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    color: blue;

}

.titulodetalle{
    text-align: center;
}

.parrafosdetalles{
    text-align: center;
    font-size: 18px;
}

.estreno{ 
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
}

.imagendetalle{
   margin: 10px;
   width: 450px;
   height: 550px;
   box-sizing: border-box;
}

.trailer{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.padredetalle{
    display: flex;
    width: 100%;}
.section2{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}
.article2{
    width: 40%;
    display: flex;
    margin: 5px;
}
.article3{
    width: 57%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.article4{
    width: 40%;
}
.fotogray{
    border: 5px solid rgb(233, 0, 0);
    width: 100%;
}
.ratingdetalle{
    color: rgb(255, 0, 183);
    font-family: cursive;
    display: flex;
    font-size: 20px;
}


.textodetalle{
    color: rgba(240, 248, 255, 0.646);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.trailer2{
    display: flex;
    flex-direction: column;
    align-items: center;    

}

.boton{
width: 15%;
display: flex;
align-items: center;
margin: 15px;
}














@media (max-width:420px) {
    .bloqueNav{
        /* display: none; */
        flex-wrap: wrap;
        Justify-content: center
    }

    .header{
        Height: auto
        }
    .menuEscondido{
        display: block;
        width: 20px;
        height: 20px;
       
       
    }
    .myArticles{
        width: auto;
    }
    iframe{

        width: 150px;
        height: 280px;
    }

    iframe{

        width: 100%;
        height: auto;
    }

    .section2{
        display: block;
    }

    .article2{
        width: 100%;
        margin: auto;
    }

    .article3{
        width: 100%;
    }

    .boton{
        width: 25%;
    }
    
   
    
}